data/*
log/*
checkpoints/*
*.tar
.idea/*
__pycache__/*
operators/__pycache__/*
pycocotools/*
dataset/COCO/*
dataset/VOC/*
dataset/Citycam/*
dataset/DETRAC/*
dataset/MIOTCD/*
dataset/__pycache__/*
models/__pycache__/*
experiment/*
